<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TutorHub_final.My.MySettings.regisdbConnectionString"
            connectionString="Data Source=LAPTOP-IJCIEVT5\MSSQLSERVER01;Initial Catalog=regisdb;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>